.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
    color: white;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 20px;
}

/* Whole scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 10px;
  border: 2px solid #121212;
  transition: background 0.3s ease;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3e3e3e;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #2b2b2b #121212;
}
